body {
  max-width:800px;
  padding:1em;
  background-color: beige;
  font-size: 16px;
  font-family: Open Sans, Arial;
  margin:2em auto;
  line-height: 1.4;
  text-align: left;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  margin-top: 0;
} 
