---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me">
  <div class="content">
    <h1>About Me</h1>
    
    <section class="about-content">
      <p>
      </p>

      <h2>Get in Touch</h2>
      <p>
      </p>
    </section>
  </div>
</Layout>

<style>
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1em;
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
  }

  h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  .about-content p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 1em;
  }
</style>
