---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me">
  <div class="content">
    <h1>About Me</h1>
    
    <section class="about-content">
      <p>
      

        At CWRU, I am involved in several organizations including CWRUnix, the
        Linux club on campus. As well as SunriseCWRU, a student organization focused on
        climate change and environmental activism.

      </p>

      <h2>Get in Touch</h2>
      <p>
      </p>
    </section>
  </div>
</Layout>
